* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='4500' preserveAspectRatio='none' viewBox='0 0 1920 4500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1035%26quot%3b)' fill='none'%3e%3crect width='1920' height='4500' x='0' y='0' fill='rgba(65%2c 121%2c 179%2c 1)'%3e%3c/rect%3e%3cpath d='M178.14290210805302 4665.365484331963L300.52078296426856 4329.135020038802-35.70968132889186 4206.757139182587-158.0875621851074 4542.987603475747z' fill='rgba(8%2c 42%2c 79%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M2084.01%2c4953.648C2279.684%2c4956.996%2c2475.984%2c4859.066%2c2559.819%2c4682.229C2635.595%2c4522.392%2c2530.399%2c4354.043%2c2440.493%2c4201.706C2352.813%2c4053.142%2c2256.065%2c3888.514%2c2084.01%2c3876.019C1894.874%2c3862.284%2c1718.522%2c3977.543%2c1624.947%2c4142.481C1532.561%2c4305.322%2c1543.378%2c4503.477%2c1635.59%2c4666.417C1729.295%2c4831.994%2c1893.785%2c4950.393%2c2084.01%2c4953.648' fill='rgba(8%2c 42%2c 79%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1352.5532832693002 2477.8583124556267L1762.8886660745015 2860.502247297549 2145.5326009164237 2450.1668644923475 1735.1972181112224 2067.5229296504253z' fill='rgba(8%2c 42%2c 79%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M642.7988928052805 909.744288797395L210.65660938151564 993.744239440786 726.7988434486715 1341.88657222116z' fill='rgba(8%2c 42%2c 79%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1059.7226683358926 1421.4487294092737L1385.9937681657354 1233.0760220937184 1197.6210608501801 906.8049222638756 871.3499610203373 1095.177629579431z' fill='rgba(8%2c 42%2c 79%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1850.4274670589625 1465.740420714285L1515.824505283321 1094.1261838673438 1144.21026843638 1428.7291456429853 1478.8132302120214 1800.3433824899264z' fill='rgba(8%2c 42%2c 79%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M78.879%2c2346.518C133.855%2c2348.566%2c194.931%2c2339.131%2c222.769%2c2291.68C250.829%2c2243.85%2c232.707%2c2183.619%2c201.228%2c2137.967C174.026%2c2098.518%2c126.752%2c2085.094%2c78.879%2c2083.009C25.769%2c2080.696%2c-34.888%2c2081.596%2c-63.438%2c2126.439C-93.366%2c2173.446%2c-77.824%2c2234.814%2c-47.564%2c2281.608C-19.99%2c2324.248%2c28.135%2c2344.627%2c78.879%2c2346.518' fill='rgba(8%2c 42%2c 79%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M723.256164563509 3667.7918451672585L618.3110484283086 3363.0090973284578 313.5283005895078 3467.954213463658 418.4734167247081 3772.736961302459z' fill='rgba(8%2c 42%2c 79%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-170.29507699937795 211.8923453939796L-170.29507699937784 721.165509371579 338.97808697822154 721.1655093715789 338.9780869782214 211.8923453939795z' fill='rgba(8%2c 42%2c 79%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1023.895%2c878.84C1086.215%2c876.949%2c1138.451%2c837.283%2c1170.117%2c783.574C1202.367%2c728.874%2c1211.858%2c663.73%2c1184.509%2c606.422C1152.787%2c539.95%2c1097.435%2c481.252%2c1023.895%2c477.175C944.192%2c472.756%2c865.674%2c515.738%2c829.157%2c586.721C795.043%2c653.033%2c820.088%2c730.889%2c861.452%2c792.938C897.867%2c847.563%2c958.275%2c880.831%2c1023.895%2c878.84' fill='rgba(8%2c 42%2c 79%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M2060.019467196446 2901.1830808520313L1784.3095521240402 2459.9549837626846 1343.0814550346938 2735.6648988350908 1618.7913701070995 3176.892995924437z' fill='rgba(8%2c 42%2c 79%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M441.786%2c3743.849C552.446%2c3742.941%2c656.419%2c3689.406%2c713.067%2c3594.34C771.088%2c3496.971%2c784.141%2c3370.527%2c719.883%2c3277.157C661.437%2c3192.232%2c544.855%2c3197.954%2c441.786%2c3200.156C344.281%2c3202.239%2c239.464%2c3208.718%2c183.534%2c3288.614C119.828%2c3379.62%2c107.872%2c3502.231%2c162.686%2c3598.854C218.13%2c3696.589%2c329.424%2c3744.771%2c441.786%2c3743.849' fill='rgba(8%2c 42%2c 79%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M55.08154622437544 1173.914052083996L324.64485094972014 1453.587930594173 423.92065705051084 1128.8714002572779z' fill='rgba(8%2c 42%2c 79%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1624.7867932780962 928.1066904034712L2008.9510821916942 961.7167106149087 2042.5611024031316 577.5524217013108 1658.3968134895338 543.9424014898733z' fill='rgba(8%2c 42%2c 79%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M960.0642418623764 1799.0140497075927L1285.069893765566 1950.5666741337077 1436.622518191681 1625.5610222305181 1111.6168662884916 1474.008397804403z' fill='rgba(8%2c 42%2c 79%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1035'%3e%3crect width='1920' height='4500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

#warning {
    margin-top: 1%;
    background-color: rgb(44, 44, 44);
    color: rgb(141, 8, 8);
    padding: 0.3%;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

.selected_page {
    color: rgb(32, 32, 32);
}

.white {
    color: white;
    font-weight: 500;
}
  
.orange {
    color: orange;
}

#nav-bar {
    background-color: #082a4fa8;
    padding: 0.7%;
}


#nav-bar-title {
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    text-shadow: 0px 0px 4px orange;
}

#nav-bar {
    background-color: #082a4fa8;
    padding: 0.7%;
    display: flex;
  }

#nav-pages {
  margin: 1%;
  margin-left: 6%;
  width: 500px;
}

#nav-pages a {
  text-decoration: none;
  color: rgb(14, 14, 14);
  font-weight: 600;
  margin-left: 3%;
  transition: ease 0.3s;
}

#nav-pages a:hover {
  transition: ease 0.3s;
  color: rgb(32, 32, 32);
  font-weight: 600;
  margin-left: 3%;
}

#hero {
    padding: 5%;
}

#top {
    margin-bottom: 5%;
    text-align: center;
}

#top h1, h2, input {
    margin: 1%;
}

#line {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}

#game {
    width: 300px;
    margin: 2%;
    transition: ease 0.3s;
}

#game:hover {
    transition: ease 0.3s;
    transform: scale(1.1);
}

#search-bar {
    margin-top: 2%;
    width: 15%;
    padding: 0.7%;
    background-color: #082a4fa8;
    border: none;
    border-radius: 5px;
    color: black;
    transition: ease 0.3s;
    font-size: 15px;
    font-weight: 600;
}
  
#search-bar:focus {
    transition: ease 0.3s;
    outline: none;
    width: 19%;
    background-color: #082a4fcc;
    font-weight: 700;
}

#pages {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1%;
}

#pages a {
    text-decoration: none;
    margin: 1%;
    color: rgb(63, 63, 63);
    font-size: 16px;
    font-weight: 600;
    transition: ease 0.3s;
}

#pages a:hover {
    color: rgb(32, 32, 32);
    transition: ease 0.3s;
}